body {
    font-family: Georgia;
}

h1 {
    font-size: 32px;
    margin-bottom: 0;
}

h2 {
    font-family: "Lato";
    font-weight: 400;
    font-size: 20px;
    margin-top: 0
}

.global {
    border: solid 1px lightgrey;
    margin: 0 0 10px 10px;
    background-color: #fafafa;
}

a {
    text-decoration: none;
}

span {
    font-weight: bold;
}

#it {
    font-style: italic;
    font-weight: 100
}

header {
    background-color: #071C2E;
    color: white;
    display: flex;
    padding: 10px;
}

header a {
    color: white;
    text-decoration: none;
}

header img {
    width: 150px;
    height: 100%;
}

header .left ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .left li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px
}

header .right {
    display: flex;
    margin-left: auto;
    margin-right: 30px;
    align-items: center;
}

header .right p {
    margin-right: 25px
}

.fa-solid fa-grip-lines {
    color: white;

}

.container {
    border: solid 1px lightgrey;
    padding: 10px;
    width: 725px;
    height: auto;
    background-color: #fff;
    padding-top: 0px;
}

nav {
    display: flex;
}

.container,
nav {
    margin-left: 10px;
}

nav i {
    align-content: center;
    margin: 0 10px;
}

.interact {
    display: flex;
    color: #14599D;
    margin: auto;
    padding-left: 0px;
    margin-bottom: 10px;
}

.interact i {
    margin-right: 5px
}

.interact ul {
    align-items: flex-start;
}

.interact li {
    display: flex;
}

.interact i {
    color: #14599D
}

.signature {
    display: flex;
    width: auto;
}

.signature p {
    margin-right: 10px;
    margin-top: 5px;
}

.bio {
    font-family: Georgia;
    justify-content: space-between;
    align-items: flex-start;
    width: 110%;
    height: px;
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-start: auto;
    grid-template-areas:
        "1stcolumn 2nd column";
}

.btn {
    border: solid 1px grey;
    border-radius: 10px;
    width: 180px;
    margin: auto;
    padding: 5px;

}

.btn_interact {
    border: solid 1px grey;
    border-radius: 10px;
    padding: 10px;
    margin-left: 5px
}

.red {
    background-color: red;
    width: auto;
    padding: 5px 15px;
    font-weight: bold
}

.titles {
    font-family: "Lato";
    font-size: 12px;
    font-style: italic;
    margin: auto;
}

.signature {
    font-family: "Lato";
    font-size: 14px;
    margin: auto;
}

.first_column {
    width: 350px;
}

.second_column img {
    height: auto;
    width: 75%;
}

.second_column hr {
    width: 240px;
    color: #f4f4f4;
}

.second_column {
    font-family: "Lato";
    font-size: 14px;
    width: 300px;
    height: 85%;
    margin-top: 10px;
    border: solid 2px lightgrey;
    padding: 10px 0;
    align-content: center
}

.second_column_center {
    text-align: center;
    font-weight: bold;
    color: #2B5DBD;
}

.second_column_width {
    width: 180px;
    margin-left: 20px; 
    margin-bottom: 50px;
}

.h3_hidden_desktop {
    display: none;
}

.aka_titles {
    display: none;
}

.alt_signature {
    display: none;
}

.table_of_contents {
    display: none
}

.audio {
    display: none;
}

.btn_actions p {
    display: none
}

.btn_login_resp {
    display: none;
}

.h3_hidden_desktop_bio {
    display: none;
}
.second_column_width_category {
    display: none;
}

@media only screen and (max-width: 768px) {
    
    .header {
        position: fixed;
    }
    
    .btn_login_desk {
        display: none;
    }

    .btn_login_resp {
        display: flex;
        order: 3
    }

    .right .btn {
        display: none;
    }

    header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .left i {
        order: 1
    }

    .left img {
        order: 2
    }

    .right {
        justify-content: center;
        align-items: center;
    }

    header .left {
        order: 0;
        justify-content: center;
        align-items: center;
    }

    header.right {
        order: 1;
        justify-content: center;
        align-items: center;
    }
    
    header .left ul {
        flex-direction: row;
        align-items: center; 
    }

    header .right {
        flex-direction: row;
        align-items: center;
    }

    nav {
        flex-direction:row;
        align-items: center; 
    }

    header a {
        display: none;
    }

    .btn_actions {
        display: flex;
    }
    
    nav a {
        color: gray;
    }

    .btn_actions p {
        display: flex;
        margin: auto;
        margin-right: 0;
        border: solid 1px white;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.01);
        padding: 10px;
        color: #2B5DBD;
        font-weight: bold;
        font-family: "Lato";
        align-items: center;
    }

    .btn_actions i {
        margin-right: 10px
    }

    .photo_box {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.01);
        border: solid 0 white;
        border-radius: 15px;
        align-content: center;
        width: 75%
    }

    .photo_box img {
        align-content: stretch;
    }


    .table_of_contents {
        display: flex;
        justify-content: center;
        margin: auto;
        border: solid 1px lightgrey;
        border-radius: 5px;
        color: #14599D;
        margin: 20px 0;
        max-width: 768px;
    }

    .audio {
        display: flex;
        justify-content: left;
        background-color: #fff;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.01);
    }

    .audio i {
        margin-right: 10px;
        margin-left: 5px
    }

    .audio h3 {
        margin-right: 10px;
        font-family: "Lato";
        font-weight: 500
    }

    .audio p {
        font-family: "Lato";
        color: darkgrey;
    }


    .signature {
        display: none;
    }

    .alt_signature {
        display: block;
    }

    .alt_signature p {
        margin: 5px 0px;
    }

    .hidden_desktop {
        display: flex;
    }

    .container {
        border: solid 0px;
    }

    .global {
        border: solid 0px;
    }

    h1 {
        margin-top: 10px;
    }

    .global {
        margin: auto;
    }

    .interact {
        display: none;
    }

    .aka_titles {
        display: flex;
        font-style: italic;
        font-size: 14px
    }

    .container {
        width: auto;
        margin: 10px;
        padding: 10px;
    }

    .bio {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        padding: 0px 10p;
        align-items: center;
    }

    .bio .first_column {
        order: 2;
    }

    .bio .second_column {
        order: 1;
    }

    .h3_hidden_desktop_bio {
        display: inline-block;
        border: solid 1px #FED7AA;
        border-radius: 15%;
        width: 300px;
        justify-content: center;
    }

    .first_column,
    .second_column {
        width: 90%;
        margin-bottom: 20px;
    }

    .first_column p {
        font-size: 1em;
    }

    .second_column {
        display: block;
        align-items: center;
    }

    .second_column_width {
        display: inline-block;
        margin-left: 20px
    }

    .infos {
        margin-right: 5%
    }

    .second_column img {
        width: 75%;

    }

    header {
        flex-wrap: wrap;
    }

    header .left,
    header .right {
        width: 100%;
        justify-content: space-between;
    }

    header .left ul,
    header .right {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    nav {
        flex-wrap: wrap;
        margin-left: 20px;
    }


    .hidden {
        display: none;
    }

    .h3_hidden_desktop_bio {
        display: flex;
        background-color: #FED7AA;
        border: solid 1px #FED7AA;
        border-radius: 15%;
        margin-bottom: 5px;
        width: 200px;
        padding: 3px;
        margin-left: 5px;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;

    }
    .second_column_width_category {
        display: flex;
        margin-top: 10px;
    }

}


@media only screen and (max-width: 480px) {
    .bio .first_column {
        order: 2;
    }

    .bio .second_column {
        order: 1;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 16px;
    }

    .btn,
    .btn_interact {
        width: 50%;
        padding: auto;
        text-align: center;
    }

    .second_column img {
        width: 100%;
    }

    .second_column hr {
        width: 50%;
    }

    .second_column_width {
        width: 100%;
    }

    .second_column {
        width: 100%;
    }


    header .left ul {
        flex-direction: flex;
        align-items: flex-start;
    }

    header .right {
        flex-direction: flex;
        align-items: flex-start;
    }

    nav {
        flex-direction: flex;
        align-items: flex-start;
    }
    
    nav i {
        margin-top: 25px
    }
}
